{% load tags %}
<html>
<head>
	<meta charset="utf-8">
	{% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
	<meta name="keywords" content="藏語、藏漢、漢藏、在線詞典">
	<meta name="descriptions" content="藏漢在線詞典">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block relsrc %}{% endblock %}
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="statics/css/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- 必须在jQuery后面引用，若前置则无法正确编译！ -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- <script src="statics/js/keyboard.js"></script> -->
</head>
<body>
	<header class="fixed-top">
		<nav class="navbar navbar-expand-md navbar-light bg-light p-1">
			<div class="navbar-header">
				<a href="/" class="navbar-brand" rel="home" title="回首頁">漢藏語大詞典</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contents" aria-controls="contents" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div id="contents" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<a href="/forum/" class="nav-link" title="參加討論或者分享自己的故事、經歷">討論區</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div id="line" class="modal mt-5">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5>加入Line聊天</h5>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="/static/img/line.jpg" width="100%">
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>


	{% block main %}{% endblock %}

	{% block footer %}
	<footer class="text-center text-lg-start bg-dark text-light mt-5">
		<section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
			<div class="mr-5 d-none d-lg-block">
				<span class="font-weight-bold ml-4">聯繫方式和其他產品：</span>
			</div>
			<div>
				<a href="#" class="mr-4 text-reset" data-toggle="modal" data-target="#line">
					<i class="fab fa-line fa-2x"></i>
				</a>
				<a href="https://github.com/Piotr1103/SinoTibetan" class="mr-4 text-reset">
					<i class="fab fa-github fa-2x"></i>
				</a>
			</div>
		</section>

		<section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
			<div class="container text-center text-md-start mt-3">
				<div class="row">

					<div class="col-md-6 mx-auto mb-2">
						<h6 class="text-uppercase font-weight-bold mb-4">
							<i class="fas fa-ghost mr-3"></i> 關於本工作室
						</h6>
						<p class="text-left">
							&emsp;&emsp;本工作室致力於將生活與科技結合，期望生活上的技術細節能由量變產生質變，邁向更美好的明天。
						</p>
					</div>

					<div class="col-md-6 mx-auto mb-2">
						<h6 class="text-uppercase font-weight-bold mb-4 mt-lg-0 mt-5">
							聯繫方式
						</h6>
						<div class="ml-5 ml-md-0 ml-lg-0 text-center">
							<div class="offset-md-5 text-left">
								<p><i class="fas fa-home mr-1"></i>&emsp;XX市OO區</a></p>
								<p><i class="fas fa-envelope mr-1"></i>&emsp;<a href="mailto:puyanjia92@gmail.com">寫信給我</a></p>
								<p><i class="fas fa-phone mr-1"></i>&emsp;0980013155</p>
								<p><i class="fas fa-print mr-1"></i>&emsp;04-22738423</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
			<p>© 普風工作室 Profound Studio - {% my_date "%Y" %}</p>
		</div>
	</footer>
	{% endblock %}

	{% block js %}{% endblock %}
</body>
</html>
